pip install --upgrade openai
pip install --upgrade gradio

pip install gradio==3.32.0
pip install openai==0.27.0
pip install azure-cognitiveservices-speech
pip install speechrecognition
pip install pyautogui
pip install keyboard
pip install requests
pip install selenium
pip install webdriver-manager
pip install pywin32
pip install psutil
pip install pynvml
pip install torch torchvision torchaudio
pip install rllib
pip install deap
pip install qiskit
